<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="container">
    <ul>
        {{#each courses}}
        
<p>{{courseName}} {{courseCode}} {{coursePrice}} {{courseLength}}</p>
        {{/each}}
    </ul>
</div>