<h1>Register new course</h1>


<form action="/courses" method="POST">
<h2>Course registration form</h2>
<p>
    <label>Course name</label>
    <input type="text" name="name" placeholder="course name"/>
</p>
<p>
    <label>Course code</label>
    <input type="number" name="code" placeholder="course code" />
</p>
<p>
    <label>Course price</label>
    <input type="number" name="price" placeholder="course price" />
</p>
<p>
    <label>Course length</label>
    <input type="number" name="length" placeholder="course length in days" />
</p>
<p>
    <button type="submit">Register this course</button>
</p>
</form>