<h1>Register new ESP board</h1>


<form action="/esp" method="POST">
<h2>ESP board registration form</h2>
<p>
    <label>ESP name</label>
    <input type="text" name="frendlyName" placeholder="device friendly name"/>
</p>
<p>
    <label>ESP ip address</label>
    <input type="text" name="ipAddress" placeholder="device ip address" />
</p>
<p>
    <label>ESP configuration</label>
    <input type="boolean" name="config" placeholder="configuration" />
</p>
<p>
    <label>ESP State</label>
    <input type="number" name="state" placeholder="device state" />
</p>
<p>
    <button type="submit">Register this course</button>
</p>
</form>