<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="container">
    <ul>
        {{#each eps}}
        
<p>{{friendlyName}} {{ipAddress}} {{config}} {{state}}</p>
        {{/each}}
    </ul>
</div>