<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <body>  
      <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/esp-list">ESP list</a></li>
          <li><a href="/esp">Course registartion</a></li>
          {{!-- <li><a href="/course-list">Course list</a></li> --}}
          {{!-- <li><a href="/course-registration">Course registartion</a></li> --}}
          {{!-- <li><a href="/courses">Course registartion</a></li> --}}
        </ul>
      </div>
      <div class="container">{{{body}}}</div>
  </body>
</html>
