<h1>Congratulations</h1>
<ul>

    {{#each courses}}
    <li> {{courseName}} {{courseCode}} {{coursePrice}} {{courseLength}}</li>
    {{/each}}

    </p>
    <button><a href="/course-registration">Back to registration form</a></button>
    <br>
    <button><a href="/">Or go to home page</a></button>